<!DOCTYPE html>
<script src="D:\Platforma\assets\js\scripts.js"></script>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Выбор аватара</title>
    <link rel="stylesheet" href="D:/Platforma/assets/css/styles.css">
</head>
<body>
    <div class="container">
        <div class="top-panel">
            <!-- Верхняя панель с логотипом -->
        </div>
        <h1 class="title">Выберите свой аватар</h1>
        <div class="avatar-gallery">
            <div class="avatar">
                <img src="путь_к_изображению1" alt="Аватар 1">
            </div>
            <div class="avatar">
                <img src="путь_к_изображению2" alt="Аватар 2">
            </div>
            <div class="avatar">
                <img src="путь_к_изображению3" alt="Аватар 3">
            </div>
            <div class="avatar">
                <img src="путь_к_изображению4" alt="Аватар 4">
            </div>
            <div class="avatar">
                <img src="путь_к_изображению5" alt="Аватар 5">
            </div>
            <div class="avatar">
                <img src="путь_к_изображению6" alt="Аватар 6">
            </div>
            <div class="avatar">
                <img src="путь_к_изображению7" alt="Аватар 7">
            </div>
            <div class="avatar">
                <img src="путь_к_изображению8" alt="Аватар 8">
            </div>
            <div class="avatar">
                <img src="путь_к_изображению9" alt="Аватар 9">
            </div>
        </div>
        
        <div class="avatar-buttons">
            <button class="btn">Выбрать</button>
            <button class="btn">Пропустить</button>
        </div>
        <div class="bottom-panel">
            <!-- Нижняя панель с дополнительными элементами интерфейса -->
        </div>
        <footer class="footer">
            <!-- Подвал с контактной информацией и ссылками -->
        </footer>
    </div>
</body>
</html>
