<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Восстановление пароля</title>
    <link rel="stylesheet" href="D:/Platforma/assets/css/styles.css">
</head>
<body>
    <div class="container">
        <h1 class="title">Забыли пароль?</h1>
        <form class="password-recovery-form">
            <label for="recovery-email">Введите ваш адрес электронной почты:</label>
            <input type="email" id="recovery-email" name="recovery-email" required>

            <button type="submit" class="btn recovery-btn">Отправить</button>
        </form>
        <p class="recovery-info">На этот адрес будет отправлен новый пароль.</p>
    </div>
</body>
</html>
